html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body {
  min-width: 320px;
  font-family: "SFProDisplay-Regular", sans-serif;
  // font-family: 'Barlow', sans-serif;
  // font-family: 'SFProDisplay-Medium', sans-serif;
  // font-family: 'SFProDisplay-Semibold', sans-serif;
  // font-family: 'SFProDisplay-Bold', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2f3035;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-section {
  padding-bottom: 80px;
}
.tabs-content {
  display: none;
}
.tabs-content.tabs-content--active {
  display: block;
}
.slick-slide img {
  display: inline;
}
