.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: "SFProDisplay-Bold", sans-serif;
    font-weight: 700;
  }
  &__box {
    display: flex;
  }
  &__adress {
    position: relative;
    width: 265px;
    margin-right: 60px;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      background: url("../images/map-point.svg") no-repeat;
      width: 30px;
      height: 30px;
      left: 0;
      top: -10px;
    }
  }
}
.menu {
  &__item {
    display: inline-block;
  }
}
.menu__item + .menu__item {
  padding-left: 50px;
}
.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
  &__item {
    padding-right: 10px;
  }
}
.menu-categories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f0f0f4;
  min-height: 53px;
  &__link {
    position: relative;
    text-transform: capitalize;
    transition: all 0.3s;
    padding: 15px 0 14px;
    &:before {
      content: "";
      position: absolute;
      background-color: #1c62cd;
      transition: all 0.3s;
      width: 0;
      height: 3px;
      left: auto;
      right: 0;
      bottom: -2px;
    }
    &:hover {
      color: #000;
      &::before {
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }
}
.basket {
  position: relative;
  &__quantity {
    position: absolute;
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #1c62cd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: -2px;
    right: -14px;
  }
}
